
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @user.name %></title>
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <br>
    <h3>Total Account Balance: <%= number_to_currency(@user.balance) %></h3>
    <br>
    <h2><%= @user.name %>'s Games</h2>
    <br>
    <% @user.user_games.each do |g| %>

      <li><%= link_to g.game.name, game_path(g.game) %></li>

        <%= form_for g do |f| %>
          <%= f.label :status %>:
          <%= f.select :status, ['For sale', 'Inactive'], prompt: "- Select -"%>
          <%= f.submit "Update sales status"%>
        <% end %>

      <ul>Retail Price: <%= number_to_currency(g.game.price) %></ul>
      <ul><%= @user.name %>'s Asking Price:
        <%= number_to_currency(g.list_price) %>
      </ul>
      <%= link_to 'Remove this game', user_game_path(g), method: :delete %>
      <% end %>

      <br><br>

  <%=  link_to "Add new game", new_user_game_path%>
  ||
  <%=  link_to "All Games for Sale", user_games_path%>

  </body>
</html>
