<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @user.name %></title>
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <br>
    <h3>Total Account Balance:</h3>
    <br>
    $<%= @user.balance %>
    <br>
    <h2><%= @user.name %>'s Games</h2>
    <br>
    <% @user.games.each do |g| %>
    <li><%= link_to g.name, game_path(g) %></li>
    <% end %>

  </body>
</html>
