<% require 'pry' %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @user.name %></title>
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <br>
    <h3>Total Account Balance:</h3>
    <br>
    <%= number_to_currency(@user.balance) %>
    <br>
    <h2><%= @user.name %>'s Games</h2>
    <br>
    <% @user.games.each do |g| %>
      <li><%= link_to g.name, game_path(g) %></li>

      <%= form_for g.user_games.find_by user_id: @user.id do |f| %>
        <%= f.label :status %>:
        <%= f.select :status, ['For sale', 'Inactive'], prompt: "- Select -"%>
        <%= f.submit "Update sales status"%>
      <% end %>

      <ul>Retail Price: <%= number_to_currency(g.price)  %></ul>
      <ul><%= @user.name %>'s Asking Price:
        <%= number_to_currency((g.user_games.find_by user_id: @user.id).list_price) %>
      </ul><br>
    <% end %>

  <%=  link_to "Add new game", new_user_game_path%>
  <%=  link_to "All Games for Sale", user_games_path%>

  </body>
</html>
