<% require 'pry' %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @user.name %></title>
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <br>
    <h3>Total Account Balance:</h3>
    <br>
    $<%= @user.balance %>
    <br>
    <h2><%= @user.name %>'s Games</h2>
    <br>
    <% @user.games.each do |g| %>
      <li><%= link_to g.name, game_path(g) %></li>
      <ul>Retail Price: $<%= g.price  %></ul>
      <ul><%= @user.name %>'s Asking Price: $<%= @user.user_games.find(g.id).list_price %></ul>
    <% end %>

  </body>
</html>
