<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @game.name %></title>
  </head>
  <body>
    <h1><%= @game.name %></h1><br>
    <br>Description: <%= @game.description %>
    <br>Original Release Date: <%= @game.original_release_date %>
    <br>Original Game Rating: <%= @game.original_game_rating %>
    <br>Platforms: <% @game.platforms[1...-1].split(", ").each do |w| %>
    <li><%= w.tr('""', '') %></li>
    <% end %>
    <br>Price: <%= number_to_currency(@game.price) %>
    <br>
    <br>Here's what people are saying about <%= @game.name %>:
    <% @game.reviews.each do |r| %>
      <li><%= r.user.username %> says <%= r.content %></li>
      <br>
    <% end %>

  <br><h2><%= link_to "Write your own review", new_game_review_path %></h2>


  <br><br><%=  link_to "All Games for Sale", user_games_path%>
  </body>
</html>
