<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @game.name %></title>
  </head>
  <body>
    <h1><%= @game.name %></h1><br>
    <br>Description: <%= @game.description %>
    <br>Original Release Date: <%= @game.original_release_date %>
    <br>Original Game Rating: <%= @game.original_game_rating %>
    <br>Platforms: <%= @game.platforms %>
    <br>Price: <%= number_to_currency(@game.price) %>


  <br><br><%=  link_to "All Games for Sale", user_games_path%>
  </body>
</html>
