<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @game.name %></title>
  </head>
  <body>
    <h1><%= @game.name %></h1><br>
    <br>Description: <%= g.description %>
    <br>Original Release Date: <%= g.original_release_date %>
    <br>Original Game Rating: <%= g.original_game_rating %>
    <br>Platforms: <%= g.platforms %>
    <br>Price: <%= g.price %>

  </body>
</html>
