<% g = @user_game.game %>
<h1><%= g.name %></h1>


<br>Description:<br><br><%= g.description %><br>
<br>Original game rating: <%= g.original_game_rating %><br>
<br>Original release date: <%= g.original_release_date %><br>
<br>Cost:<br><%= number_to_currency(g.price) %>
<br>
<br>For sale by: <%= @user.name %>
<br>List price:<br><%= number_to_currency(@user_game.list_price) %>
<br>Condition:<br><%= @user_game.condition %>

<!-- Doesn't work yet -->
    <br><br><%= link_to "Buy now", buy_user_game_path(@user_game) %><br>


<br><%= link_to "Games for Sale", user_games_path %>
