
<% if @user == "guest" %>
  Sorry, you're not a member, thus, have no valid opinions.
  <br><br><%= link_to "Back to the depths with you!", game_path(@game) %>

<% else %>

  <%= form_tag create_game_review_path do%>

    <label>Write your review of <%= "#{@game.name}" %>:
    <br><%= text_area_tag 'review[content]' %><br>

    <label>Rating:</label>
    <%= select_tag 'review[rating]', options_for_select((1..5).step(1)) %>

    <%= submit_tag "Submit" %>
  <% end %>

<% end %>
