<!DOCTYPE html>
<html>

  <head>
    <title>Games Top</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Games Top</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= games_path %>">All Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_games_path %>">Games for Sale</a>
        </li>

        <%= form_tag(games_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
        <form class="form-inline my-2 my-lg-0-right">
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search Games">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
        </form>
      </ul>

      <ul class="navbar-nav navbar-right">
        <% if current_username %>
        <li class="nav-item">
          <a class="nav-link">Logged-in as: <%= current_username %></a>
        </li>
        <li class="nav-item right">
          <a class="nav-link" href="<%= user_path(User.find_by(username: current_username)) %>">Profile</a>
        </li>
        <li class="nav-item right">
          <%= link_to "Logout", logout_path, method: "DELETE", class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>">Login</a>
        </li>
        <% end %>

      </ul>
    </div>
  </nav>

  <body>

    <div class=“container-fluid”>
    <%= yield %>
    </div>

  </body>
</html>
