<!DOCTYPE html>
<html>
  <head>
    <title>PJGamestore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if current_username %>
      <h4>Welcome Back <%= current_username %>!</h4>
      <h5><%= link_to "Logout", logout_path, method: "DELETE" %></h5>
      <% else %>
      <h5><%= link_to "Login", login_path %></h5>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
